@charset "UTF-8";

:root {
    --cor1: #834FF0;
    --cor2: #EC4FF0;
    --cor3: #B74EEF;
    --cor4: #8485F5;
    --cor5: #F04F96;
}

body {
  font-family: 'Cascadia Code', Arial, sans-serif;
  background-color:#f8f0ff;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
}

h1 {
    font-family: 'Emilys Candy', Arial, Helvetica, sans-serif;
    color:#8485F5;
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  color: #8485F5;
}

label, select, input {
  display: block;
  margin: 10px 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  color: #8485F5;
}

button {
  background-color:#8485F5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Emilys Candy', Arial, Helvetica, sans-serif;
}

button:hover {
  transform: scale(1.05);
}

#mensagem {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}
