@charset "UTF-8";

:root {
    --cor1: #834FF0;
    --cor2: #EC4FF0;
    --cor3: #B74EEF;
    --cor4: #8485F5;
    --cor5: #F04F96;
}

* {
    margin: 0;
    padding: 0;
}

body {
    letter-spacing:2px;
}
 
header#inicio {
    height: 600px;
    background-image: linear-gradient(to bottom, #834FF0, #B74EEF );
    font-family: 'Emilys Candy', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;
}

nav {
    font-family: 'Cascadia Code', Arial, Helvetica, sans-serif;
    font-size: medium;
    color: white;
    word-spacing: 10px;
    padding: 15px;
    position: fixed;
    background-color:#834FF0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}

main {
    position: relative;
    display: flex;
    height: 100%;
}

article#sobre {
    width: 50%;
    text-align: justify;
    text-indent: 30px;
    font-family: 'Cascadia Code', Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color:#B74EEF;
}

section#serviços {
    background-image: linear-gradient(to bottom, #B74EEF, #834FF0 );
    font-family: 'Emilys Candy', Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

a.cabeçalho {
    text-decoration: none;
    color: white;
}

a.cabeçalho:hover {
    color:#8485F5;
}

p {
    text-indent: 30px;
}

h1.sobre-mim {
    font-family: 'Emilys Candy', Arial, Helvetica, sans-serif;
    margin-top: 30px;
    text-decoration: underline;
}

hr {
    width: 50%; 
    margin: 20px auto;
}

.meu-botao {
    background-color: #EC4FF0;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.meu-botao:hover {
    transform: scale(1.1);
    background-color: #8485F5;
}           

img.logo-header {
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 300px;
    height: auto;
    z-index: 10; /*Garante que fique sobreposta*/
}

div.imagem {
    width: 50%;
    background-image: url(unha1.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    margin-left: 5px;
    height: 970px;
}

@media (min-width: 1024px) {
  img.logo-header {
    width: 400px;
  }
}

@media (max-width: 768px) and (max-width: 1023px)  {
  img.logo-header {
    width: 190px;
  }
}

@media (max-width: 500px) {
            img.logo-header {
                width: 125px;
            }
        }















